BOT_TOKEN=
ADMINS=
SERVER_ENDPOINT=
AWG_PORT=64936
AWG_IFACE=awg0
SERVER_CONF=/etc/amnezia/amneziawg/awg0.conf
CLIENT_DIR=/etc/amnezia/amneziawg/clients
DNS=1.1.1.1,1.0.0.1
BACKUP_CHAT_ID=
BACKUP_LINK=
BACKUP_TIMES_PER_DAY=1
BACKUP_TIMES=00:00
PANEL_URL=
PANEL_DOMAIN=

GITHUB_REPO=mkh-python/noora-awg-manager
GITHUB_BRANCH=main
